{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Log Bekijker</h1>
        <h5 class="header col s12 light grey-text">Deze site wordt gebruikt voor het loggen van tickets.</h5>
        <br>
        <div class="row center">
            <a href="https://github.com/kyb3r/logviewer" class="btn waves-effect my-button">github</a>
            <a href="https://patreon.com/kyber" class="btn waves-effect my-button">doneer geld aan kyb3r voor het maken van de originele versie</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
